::-webkit-scrollbar {
  width: 12px; /* Change width */
  height: 10px; /* Change height for horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: rgba(240, 240, 240, 0.5); /* Light track */
  border-radius: 6px; /* Rounded corners */
}

::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 0.8); /* Default thumb color */
  border-radius: 6px; /* Rounded corners */
  transition: background 0.3s; /* Smooth transition */
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(75, 74, 74); /* Darker thumb on hover */
}
